# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Android
android/.gradle/
android/captures/
android/local.properties
android/GeneratedPluginRegistrant.java
android/app/google-services.json
android/key.jks

# iOS
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m

# Web
web/favicon.png

# macOS
macos/.symlinks/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

# General
*.iml
*.log
.DS_Store
.idea/
.vscode/
*.class
*.apk
*.ipa

# Sensitive
google-services.json
GoogleService-Info.plist
